---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
    <h4>Short Bio</h4>
    I am an associate professor in the School of Electrical Engineering (Computer Division)
    and am also affiliated with the Department of Communications Engineering at Korea University.
    I am interested in building high-performance computer systems.
    Before joining Korea University, I spent six and a half years at Ajou University.
    Prior to joining Ajou, I contributed to building a large-scale data analytics system with specialized hardware (called RAPID) at Oracle Labs.
    I finished my PhD in Computer Science at KAIST in 2015, under the supervison of Prof. Jaehyuk Huh.
</div>

<!-- ========== Research  ========== -->
<div class="docs-section" id="rs">
    <h4> Research Interests</h4>
	    <li> Computer Systems and Architecture </li>
	    <li> AI Systems and Architecture </li>
	    <li> Server, Datacenter, and Cloud Computing </li>
    <p></p>
    <b><I>
	I am actively looking for highly self-motivated students interested in building fast and efficient computer systems for AI, cloud, and emerging hardware. 
	Please reach out to me with your CV and transcript.
    </I></b>
</div>


<!-- ========== Teaching ========== -->
<div class="docs-section" id="teaching">
    <h4>Teaching</h4>
    	<li> KECE210: Digital Systems and Design Laboratory (Fall 2024) </li>
	<li> COMM106: Basic Programming (Fall 2024) </li>
	<li> COMM206: Logic Circuit Design (Fall 2024) </li>
</div>

<!-- ========== Publications ========== -->
<div class="docs-section" id="recent-pubs">
    <h4>Recent Publications</h4>
    <div class="tab-content">
        <div class="tab-pane active" id="papers-selected">
            {% assign selected_papers = site.data.publications.papers | where: "selected", "y" | slice: 0, 5 %}
            {% for paper in selected_papers %}
            <div class="paper">
                <p class="title">
                <b>{{ paper.title }}</b>
                {% if paper.paper_pdf %}
                [ <a href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.slides %}
                | <a href="{{ paper.slides }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                | <a  href="{{ paper.poster }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                | <a href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                | <a href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.data %}
                | <a href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.paper_pdf %}
                ]
                {% endif %}
                </p>
                <p>{{ paper.authors }}</p>
                <p><i>{{ paper.venue }}</i></p>
            </div>
            {% endfor %}
        </div>
    </div>

    <b><i><a href={{ "/publications.html#publications" | prepend: site.baseurl }}>Full list</a></i></b>
</div>

<!-- ========== Services ========== -->
 <div class="docs-section" id="services">
     <h4>Academic Services</h4>
     Program Committee <br>
     <li> ASPLOS: <a href="https://www.asplos-conference.org/asplos2025/committee/#tpc" target="_blank">2025</a> </li>
     <li> HPCA: <a href="https://www.hpca-conf.org/2024/committees/pc.php" target="_blank">2024</a></li>
     <li> ICS: <a href ="https://ics2024.github.io/organization.html" target="_blank">2024</a> </li>
     <li> ISPASS: <a href="https://www.ispass.org/ispass2025/committee.php" target="_blank">2025</a>, <a href="https://www.ispass.org/ispass2021/committee.php" target="_blank">2021</a></li>
     <li> SYSTOR: <a href="https://www.systor.org/2024/program-committee/" target="_blank">2024</a></li>
 </div>


