---
layout: default
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<div class="docs-section" id="publications">
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title">
            <b>{{ paper.title }}</b>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  [ <a href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.slides %}
                  | <a href="{{ paper.slides }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                  | <a  href="{{ paper.poster }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  | <a href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  | <a href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.data %}
                  | <a href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.paper_pdf %}
                  ]
                {% endif %}
          </div>
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title">
          <b>{{ paper.title }}</b>
          <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  [ <a href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.slides %}
                  | <a href="{{ paper.slides }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                  | <a  href="{{ paper.poster }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  | <a href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  | <a href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.data %}
                  | <a href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.paper_pdf %}
                  ]
                {% endif %}
          </div>
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
