---
layout: default
title: Publications
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<div class="docs-section" id="publications">
        <div class="tab-pane active" id="papers-all">
            {% for paper in site.data.publications.papers %}
            <div class="paper">
                <p class="title">
                <b>{{ paper.title }}</b>
                {% if paper.paper_pdf %}
                [ <a href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.slides %}
                | <a href="{{ paper.slides }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                | <a  href="{{ paper.poster }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                | <a href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                | <a href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.data %}
                | <a href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.paper_pdf %}
                ]
                {% endif %}
                </p>
                <p>{{ paper.authors }}</p>
                <p><i>{{ paper.venue }}</i></p>
                {% if paper.note %}
                <p><font color="#862633">{{ paper.award }}</font></p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
